.Aboutme{
    margin: 0 auto;
    width: 1440px;
    height: 690px;
    flex-shrink: 0;
    background-color: rgba(255, 247, 242, 0.74);
}

.About{
    margin:0px auto;
    padding:50px;
    width: 980px;
    height: 620px;
    flex-shrink: 0;
}

.Information1{
    margin: 70px auto;
    width: 877px;
    height: 220.152px;
    flex-shrink: 0;
}

#bubble{
    margin-left:30px;
}

.Information2{
    margin: 30px auto;
    width: 900px;
    height: 130px;
    flex-shrink: 0;
}

.InfoList, .List{
    padding: 0px;
    list-style-type:none;
}

.InfoList{
    float:right;
}

.Title{
    color: #000;
    font-family: Noto Sans KR;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#info, #certification, #education{
    width:200px;
    float:left;
    margin-right:30px;
}

#lanuage{
    width:200px;
    float:left;
}

#list-content{
    color: #535353;
    font-family: Noto Sans KR;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 3px;
}