.main {
  width: 100%;
}

.container {
  margin-bottom: 60px;
}

.container:last-child {
  margin-bottom: 0px;
}

.subTitle {
  font-size: large;
  font-weight: 600;
}

.content {
  width: 100%;
  color: #666;
  margin-top: 20px;
  display: flex;
  gap: 30px;
  word-break: keep-all;
  line-height: 1.5;
  word-wrap: break-word;
}

.info {
  color: #353535;
  margin-top: 10px;
}

.left {
  width: 35%;
}

.right {
  width: 65%;
}

.image {
  width: 100%;
  object-fit: contain;
  max-width: 350px;
  border-radius: 10px;
}

.ul {
  margin: 10px 0;
  padding: 0 20px;
}

@media (max-width: 700px) {
  .content {
    flex-direction: column;
  }
  .left,
  .right {
    width: 100%;
  }
}

.link {
  display: flex;
  align-items: center;
  width: 300px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 13px;
  border: 1px solid #bebebe;
  border-radius: 10px;
  color: #616161;
  text-decoration: none;
  transition: background-color 0.3s;
}

.link:hover {
  cursor: pointer;
  color: black;
  background-color: #eeeeee;
}

.text {
  display: flex;
  margin: 7px 0 0;
}
